@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Geomanist';
  src: url('../src/fonts/geomanist-light-webfont.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Geomanist';
  src: url('../src/fonts/geomanist-regular-webfont.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Geomanist';
  src: url('../src/fonts/geomanist-book-webfont.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Geomanist';
  src: url('../src/fonts/geomanist-bold-webfont.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
