@font-face {
  font-family: 'Geomanist';
  src: url('geomanist-light-webfont.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Geomanist';
  src: url('geomanist-book-webfont.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
